html {
  font-size: 14px;
}
*{
  margin: 0;
  padding:0;
  
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
header{
  margin-bottom: 10%;
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

body{
  background-color: #849cb4;
}
main{
  margin-top: 50px;
}
.ImagenIntegrante{
width: 200px;
height: auto;
}
.nombre{
  font-size: 30px;
  color:  rgb(58, 54, 54);
}
.integrantes{
  margin-top: 5px;
}
.info{
  list-style: none;
  width: fit-content;
  color: rgb(0, 0, 0);
  background-color: gray;
  border-radius: 10px;
  margin-top:10%;
  transform: scale(1.8); /* 1.2 = 20% más grande */
  transform-origin: left; /* crece desde la izquierda */
  float: left;
  padding-right: 40px;
  margin-bottom: 10%;

}
.imginfo{
  width: 550px;
  height: auto;
  float: right;
  border-radius: 50%;
  object-fit: cover; /* evita que se deforme */
  margin-bottom:10% ;

}

li{
  
}